# Healthcare Marketing Analytics Project
## Determining the impact of R&D Ration on Healthcare Firms' Value

In [5]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
warnings.simplefilter("once")

### Data Sourcing
This dataset was provided by Bocconi University, Marketing Analytics department. Here is the description of the data columns in the dataset:
- Firm ID (variable name: id)
- Year (variable name: year)
- Firm Total Assets (unit: million $) (variable name: assets)
- Long-term Debt (unit: million $) (variable name: debt)
- Earnings (unit: million $): This variable is EBITA (earnings before interest, taxes, depreciation,
and amortization). (variable name: earnings)
- Cash Flows (unit: million $): This is Net Cash Flow from Operating Activity. However, please
conceptually consider this variable a proxy for profit based on only cash as some academic
studies do. (variable name: cashflow)
- Sales (unit: million $) (variable name: sales)
- Advertising Expenditure (unit: million $): Conceptually, you can consider this variable as a firm’s
brand building effort. (variable name: ad)
- R&D Expenditure (unit: million $): Conceptually, you can consider this variable as a firm’s
innovation effort. (variable name: rd)
- Marketing, Selling, and Operating Expenditure (unit: million $): Conceptually, you can consider
this variable as a firm’s selling and marketing effort (e.g., sale forces, customer management)
except advertising. Note that this variable does not include advertising expenditure and R&D
expenditure. (variable name: mkt)
- Product Market Threat: Consider this variable as competitive threats that a firm goes through in
its product markets. Higher values indicate higher levels of competitive threats. (variable name:
threat)
- 2001 Recession (dummy): 1 if the observation is in the year of 2001 recession and 0 otherwise.
(variable name: rec1)
- 2008 Recession (dummy): 1 if the observation is in the year of 2008 recession and 0 otherwise.
(variable name: rec2)
- Firm Value (i.e., Tobin’s Q) (variable name: fv)
- Market Valuation (unit: million $): Market value of a firm (variable name: mv)
- Business sector where a firm operates (indicator) (variable name: sector)
    - 1: Manufacturing (Consumer Durables and Non-Durables) e.g., Food, Tobacco, Textile, Apparel, Toys, Cars, TVs, Furniture, Appliances
    - 2: Manufacturing (Non-Consumer Goods) e.g., Machinery, Office Furniture, Paper, Computers, Electronic Equipment
    - 3: Wholesale
    - 4: Retailing
    - 5: Healthcare e.g., healthcare, medical equipment, drugs
    - 6: Information Technology e.g., software publishers, telecommunications, web search portals
    - 7: Service Sector (Technical Services, Professional and Administrative Services, and Education Services)
    - 8: Entertainment, Accommodation, and Full Service Restaurants

In [6]:
all_data = pd.read_csv('marketing_insight.csv')
all_data.head()

,id,year,assets,debt,earnings,cashflow,sales,mv,ad,rd,threat,fv,rec1,rec2,mkt,sector
0,42,1993,4.103,0.000,-1.748,-2.175,3.610,63.674000,0.074,0.305,1.7482,14.836461,0,0,2.042,5
1,2607,1993,18.897,0.716,-2.458,-2.016,26.274,10.802283,0.748,1.310,18.0228,0.083362,0,0,5.405,1
2,1204,1993,37.476,23.735,4.359,-0.087,63.938,29.856251,0.759,0.542,1.0184,1.225564,0,0,9.997,3
3,899,1993,7.882,0.011,-4.933,-4.958,5.411,58.403999,0.775,2.059,9.1024,6.930602,0,0,6.089,5
4,1746,1993,24.496,0.000,7.723,-5.843,43.030,208.065000,0.719,0.372,1.0658,7.952849,0,0,9.994,5

In [7]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22723 entries, 0 to 22722
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        22723 non-null  int64
 1   year      22723 non-null  int64
 2   assets    22723 non-null  float64
 3   debt      22723 non-null  float64
 4   earnings  22723 non-null  float64
 5   cashflow  22723 non-null  float64
 6   sales     22723 non-null  float64
 7   mv        22723 non-null  float64
 8   ad        22723 non-null  float64
 9   rd        22723 non-null  float64
 10  threat    22723 non-null  float64
 11  fv        22723 non-null  float64
 12  rec1      22723 non-null  int64
 13  rec2      22723 non-null  int64
 14  mkt       22723 non-null  float64
 15  sector    22723 non-null  int64
dtypes: float64(11), int64(5)
memory usage: 2.8 MB

#### Filtering out the Healthcare Sector
This project will be focused on the Healthcare sector, therefore, we'll filter out other sectors to remain with **sector 5** – ***Healthcare***.

In [8]:
data = all_data[all_data['sector']==5] #Filtering out all sectors to remain with healthcare data
data = data.drop(['sector'], axis=1) #Delete the sector column as it is no longer relevant
data.head()

,id,year,assets,debt,earnings,cashflow,sales,mv,ad,rd,threat,fv,rec1,rec2,mkt
0,42,1993,4.103,0.000,-1.748,-2.175,3.610,63.674000,0.074,0.305,1.7482,14.836461,0,0,2.042
3,899,1993,7.882,0.011,-4.933,-4.958,5.411,58.403999,0.775,2.059,9.1024,6.930602,0,0,6.089
4,1746,1993,24.496,0.000,7.723,-5.843,43.030,208.065000,0.719,0.372,1.0658,7.952849,0,0,9.994
10,1312,1993,10.248,0.000,-15.562,-9.349,0.000,23.978001,0.000,4.075,5.0967,2.646077,0,0,11.487
19,1686,1993,6.007,0.929,1.055,0.483,6.980,19.942678,0.086,0.197,1.0549,3.027747,0,0,1.558

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3292 entries, 0 to 22569
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3292 non-null   int64
 1   year      3292 non-null   int64
 2   assets    3292 non-null   float64
 3   debt      3292 non-null   float64
 4   earnings  3292 non-null   float64
 5   cashflow  3292 non-null   float64
 6   sales     3292 non-null   float64
 7   mv        3292 non-null   float64
 8   ad        3292 non-null   float64
 9   rd        3292 non-null   float64
 10  threat    3292 non-null   float64
 11  fv        3292 non-null   float64
 12  rec1      3292 non-null   int64
 13  rec2      3292 non-null   int64
 14  mkt       3292 non-null   float64
dtypes: float64(11), int64(4)
memory usage: 411.5 KB

In [10]:
data.describe()

,id,year,assets,debt,earnings,cashflow,sales,mv,ad,rd,threat,fv,rec1,rec2,mkt
count,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000,3292.000000
mean,1724.311665,2007.315614,3429.609149,775.250014,563.978191,418.321345,1706.000846,6780.085848,71.307075,255.238051,8.154948,2.360336,0.034933,0.045261,408.670110
std,1058.535967,7.179453,16334.438091,3832.730215,2663.596820,2038.262931,7211.308404,29286.544040,354.174284,1154.296713,11.103680,2.746864,0.183638,0.207908,1715.608140
min,1.000000,1993.000000,0.404000,0.000000,-666.676000,-635.442000,0.000000,0.809150,0.000000,0.000000,1.000000,-0.586277,0.000000,0.000000,-1895.591100
25%,774.000000,2002.000000,34.815250,0.000000,-5.244250,-4.947750,26.508250,52.787131,0.288000,1.748750,1.294500,0.861938,0.000000,0.000000,12.847250
50%,1584.000000,2007.000000,109.109000,1.957500,4.940000,3.104500,84.768000,207.849600,1.103000,6.816000,3.197450,1.604317,0.000000,0.000000,34.998501
75%,2629.000000,2013.000000,495.226000,65.151500,58.128250,39.787500,354.252500,1014.843800,6.500000,30.600500,10.694725,2.901638,0.000000,0.000000,119.889250
max,3523.000000,2019.000000,212949.000000,63226.000000,28795.000000,23416.000000,82059.000000,384003.780000,4000.000000,12245.000000,85.363701,45.089115,1.000000,1.000000,19088.000000

In [11]:
data['log assets'] = np.log(data['assets'])
data.head()

,id,year,assets,debt,earnings,cashflow,sales,mv,ad,rd,threat,fv,rec1,rec2,mkt,log assets
0,42,1993,4.103,0.000,-1.748,-2.175,3.610,63.674000,0.074,0.305,1.7482,14.836461,0,0,2.042,1.411718
3,899,1993,7.882,0.011,-4.933,-4.958,5.411,58.403999,0.775,2.059,9.1024,6.930602,0,0,6.089,2.064582
4,1746,1993,24.496,0.000,7.723,-5.843,43.030,208.065000,0.719,0.372,1.0658,7.952849,0,0,9.994,3.198510
10,1312,1993,10.248,0.000,-15.562,-9.349,0.000,23.978001,0.000,4.075,5.0967,2.646077,0,0,11.487,2.327083
19,1686,1993,6.007,0.929,1.055,0.483,6.980,19.942678,0.086,0.197,1.0549,3.027747,0,0,1.558,1.792925

In [13]:
data['mkt share'] = data['sales']/np.sum(data['sales'])*100
data.head()

,id,year,assets,debt,earnings,cashflow,sales,mv,ad,rd,threat,fv,rec1,rec2,mkt,log assets,mkt share
0,42,1993,4.103,0.000,-1.748,-2.175,3.610,63.674000,0.074,0.305,1.7482,14.836461,0,0,2.042,1.411718,0.000064
3,899,1993,7.882,0.011,-4.933,-4.958,5.411,58.403999,0.775,2.059,9.1024,6.930602,0,0,6.089,2.064582,0.000096
4,1746,1993,24.496,0.000,7.723,-5.843,43.030,208.065000,0.719,0.372,1.0658,7.952849,0,0,9.994,3.198510,0.000766
10,1312,1993,10.248,0.000,-15.562,-9.349,0.000,23.978001,0.000,4.075,5.0967,2.646077,0,0,11.487,2.327083,0.000000
19,1686,1993,6.007,0.929,1.055,0.483,6.980,19.942678,0.086,0.197,1.0549,3.027747,0,0,1.558,1.792925,0.000124

In [37]:
data_42 = data[data['id']==42] 
print('company 42:'), data_42['year']

company 42:

(None,
 0    1993
 Name: year, dtype: int64)

In [36]:
data_899 = data[data['id']==899] 
print('company 899:'), data_899['year']

company 899:

(None,
 3        1993
 1024     1994
 21848    1995
 21862    1996
 Name: year, dtype: int64)

In [41]:
data_1746 = data[data['id']==1746] 
print('company 1746:'), data_1746['year']
#We notice that data is provided for different n. of years depending on the company.
#Therefore, we need to account for this when calculating market growth.

company 1746:

(None,
 4        1993
 883      1994
 1307     1995
 12645    1996
 12670    1997
 12691    1998
 12717    1999
 Name: year, dtype: int64)

In [85]:
by_company_mv = {}
for company in data['id']:
    data_company = data[data['id']==company]
    by_company_mv[company] = data_company.year, data_company.mv


        
by_company_mv

{42: (0    1993
  Name: year, dtype: int64,
  0    63.674
  Name: mv, dtype: float64),
 899: (3        1993
  1024     1994
  21848    1995
  21862    1996
  Name: year, dtype: int64,
  3        58.403999
  1024     38.250000
  21848    52.567516
  21862    66.967880
  Name: mv, dtype: float64),
 1746: (4        1993
  883      1994
  1307     1995
  12645    1996
  12670    1997
  12691    1998
  12717    1999
  Name: year, dtype: int64,
  4        208.065000
  883      207.499500
  1307     105.477250
  12645     73.574501
  12670     41.325249
  12691     25.308500
  12717     63.825001
  Name: mv, dtype: float64),
 1312: (10    1993
  Name: year, dtype: int64,
  10    23.978001
  Name: mv, dtype: float64),
 1686: (19       1993
  2923     2018
  3527     2019
  17191    2000
  17202    2001
  17274    2002
  17327    2003
  17393    2004
  17446    2005
  17511    2006
  17566    2007
  17669    2008
  17711    2009
  17810    2010
  17859    2011
  17925    2012
  17957    2013
  18003    2014
  18099    2015
  18103    2016
  18196    2017
  Name: year, dtype: int64,
  19        19.942678
  2923      84.253960
  3527      90.272102
  17191     20.051624
  17202     25.329201
  17274     20.500200
  17327     38.440819
  17393     41.190552
  17446     43.898327
  17511     44.527420
  17566     51.498268
  17669     45.512402
  17711     56.791561
  17810     64.344002
  17859     70.088997
  17925     90.403320
  17957    129.501500
  18003     91.138222
  18099     87.975098
  18103     71.207001
  18196     84.988998
  Name: mv, dtype: float64),
 214: (23       1993
  10246    1997
  10265    1998
  10297    1999
  10325    2000
  16239    2003
  16271    2004
  16352    2005
  16386    2006
  16412    2007
  16433    2008
  16476    2009
  16502    2010
  16517    2011
  16548    2012
  17197    2001
  17289    2002
  Name: year, dtype: int64,
  23       132.936000
  10246    500.902500
  10265     87.847809
  10297    218.437500
  10325    131.509690
  16239    249.977710
  16271    110.517550
  16352    194.160750
  16386    253.408800
  16412    117.386240
  16433     68.508881
  16476     70.880402
  16502    183.808720
  16517    218.327500
  16548     55.610699
  17197    112.994400
  17289    119.125440
  Name: mv, dtype: float64),
 1662: (27    1993
  Name: year, dtype: int64,
  27    874.828
  Name: mv, dtype: float64),
 1507: (41     1993
  674    1994
  Name: year, dtype: int64,
  41     41.682377
  674    71.354248
  Name: mv, dtype: float64),
 1640: (42    1993
  Name: year, dtype: int64,
  42    6.6675
  Name: mv, dtype: float64),
 758: (44    1993
  Name: year, dtype: int64,
  44    13258.518
  Name: mv, dtype: float64),
 1541: (55    1993
  Name: year, dtype: int64,
  55    75.389748
  Name: mv, dtype: float64),
 1627: (66    1993
  Name: year, dtype: int64,
  66    6.95625
  Name: mv, dtype: float64),
 35: (69       1993
  3000     2018
  3481     2019
  13276    2009
  13351    2010
  13433    2011
  13463    2012
  13498    2013
  13576    2014
  13599    2015
  13674    2016
  13695    2017
  Name: year, dtype: int64,
  69         86.580002
  3000      525.680360
  3481      413.767820
  13276     660.314880
  13351     382.579710
  13433     402.896450
  13463     316.367980
  13498     528.648440
  13576    1091.072000
  13599    1048.589200
  13674    1194.892800
  13695     451.599760
  Name: mv, dtype: float64),
 750: (75    1993
  Name: year, dtype: int64,
  75    89.561996
  Name: mv, dtype: float64),
 61: (77    1993
  Name: year, dtype: int64,
  77    51.757481
  Name: mv, dtype: float64),
 1591: (81     1993
  975    1994
  Name: year, dtype: int64,
  81     519.75372
  975    554.59802
  Name: mv, dtype: float64),
 755: (92       1993
  759      1994
  13053    2005
  13126    2006
  13160    2007
  13214    2008
  Name: year, dtype: int64,
  92        14.782625
  759       23.672001
  13053    175.584500
  13126     68.608543
  13160     18.754200
  13214      6.595200
  Name: mv, dtype: float64),
 1: (102     1993
  1010    1994
  Name: year, dtype: int64,
  102     49.590862
  1010    53.476501
  Name: mv, dtype: float64),
 1423: (111    1993
  Name: year, dtype: int64,
  111    31.476
  Name: mv, dtype: float64),
 774: (113     1993
  702     1994
  1190    1995
  1380    1996
  1469    1997
  1515    1998
  1585    1999
  1631    2000
  1683    2001
  1763    2002
  1844    2003
  1889    2004
  1981    2005
  2053    2006
  Name: year, dtype: int64,
  113     3029.7976
  702     1998.3540
  1190    2256.2871
  1380    1939.1400
  1469    2187.6567
  1515    3391.7400
  1585    3926.6699
  1631    2162.2739
  1683    2016.4293
  1763    1942.8840
  1844    2730.9260
  1889    3431.7859
  1981    3662.4580
  2053    2807.5437
  Name: mv, dtype: float64),
 1108: (128    1993
  695    1994
  Name: year, dtype: int64,
  128    11.0550
  695     9.2425
  Name: mv, dtype: float64),
 1575: (132    1993
  Name: year, dtype: int64,
  132    1212.075
  Name: mv, dtype: float64),
 1029: (133      1993
  965      1994
  14338    1995
  14347    1996
  14367    1997
  14384    1998
  14423    1999
  14452    2000
  14460    2001
  14509    2002
  14516    2003
  14561    2004
  14621    2005
  14628    2006
  Name: year, dtype: int64,
  133       170.465740
  965        74.662498
  14338      56.713726
  14347      59.848499
  14367      54.115143
  14384     141.784500
  14423     178.823750
  14452     272.398500
  14460     382.076390
  14509     182.968250
  14516    1304.331500
  14561    1989.858400
  14621    1331.341400
  14628    1457.980000
  Name: mv, dtype: float64),
 1237: (139    1993
  Name: year, dtype: int64,
  139    2.238
  Name: mv, dtype: float64),
 1703: (145      1993
  846      1994
  1251     1995
  12623    1996
  12662    1997
  12678    1998
  12736    1999
  12770    2000
  13824    2003
  Name: year, dtype: int64,
  145      10.237500
  846       7.875000
  1251      9.486000
  12623    19.052500
  12662    15.312912
  12678     8.342750
  12736    10.174500
  12770    11.397625
  13824     3.031500
  Name: mv, dtype: float64),
 1307: (146      1993
  15946    1996
  15984    1997
  16003    1998
  Name: year, dtype: int64,
  146      728.53802
  15946    258.32251
  15984    282.43277
  16003    677.40051
  Name: mv, dtype: float64),
 83: (147      1993
  1105     1994
  1321     1995
  3282     2018
  3866     2019
  19305    2002
  19332    2003
  19368    2004
  19389    2005
  19438    2006
  19466    2007
  19493    2008
  19526    2009
  19565    2010
  19588    2011
  19603    2012
  19627    2013
  19657    2014
  19686    2015
  19705    2016
  19713    2017
  Name: year, dtype: int64,
  147       195.47800
  1105      217.17412
  1321      174.78999
  3282      715.70367
  3866      495.69992
  19305     207.65045
  19332     352.31757
  19368     299.92703
  19389     403.74432
  19438     379.91870
  19466     414.66516
  19493     168.42992
  19526     233.32440
  19565     265.79950
  19588     431.75024
  19603     396.91757
  19627     349.92529
  19657     569.73621
  19686     358.74020
  19705     491.68878
  19713    1144.08530
  Name: mv, dtype: float64),
 215: (148    1993
  Name: year, dtype: int64,
  148    8.582844
  Name: mv, dtype: float64),
 1314: (151     1993
  867     1994
  4412    2006
  4428    2007
  4452    2008
  Name: year, dtype: int64,
  151      74.827560
  867      92.949623
  4412    150.645810
  4428     79.709503
  4452     18.748260
  Name: mv, dtype: float64),
 958: (155    1993
  Name: year, dtype: int64,
  155    4932.0181
  Name: mv, dtype: float64),
 802: (163    1993
  813    1994
  Name: year, dtype: int64,
  163    53.662498
  813    42.276501
  Name: mv, dtype: float64),
 803: (166    1993
  Name: year, dtype: int64,
  166    85.325623
  Name: mv, dtype: float64),
 201: (174    1993
  Name: year, dtype: int64,
  174    22.379499
  Name: mv, dtype: float64),
 1365: (182     1993
  936     1994
  1347    1995
  4303    1996
  4308    1997
  4319    1998
  4326    1999
  4333    2000
  4345    2001
  4360    2002
  4377    2003
  4384    2004
  4393    2005
  4406    2006
  4435    2007
  4438    2008
  4463    2009
  4474    2010
  4480    2011
  Name: year, dtype: int64,
  182       40.421982
  936       16.906908
  1347      21.454235
  4303     190.904790
  4308     711.267400
  4319     684.593990
  4326     727.298280
  4333    1681.043900
  4345    1602.879000
  4360    1186.290600
  4377    1547.513100
  4384    2296.965100
  4393    1725.699500
  4406    1945.991200
  4435    1463.383500
  4438     788.380190
  4463    1568.440200
  4474    1579.672400
  4480    1895.083700
  Name: mv, dtype: float64),
 906: (185      1993
  16269    2004
  16326    2005
  16396    2006
  16413    2007
  16455    2008
  16486    2009
  16510    2010
  16529    2011
  16541    2012
  16575    2013
  Name: year, dtype: int64,
  185       78.011253
  16269     14.477500
  16326     11.016720
  16396     15.186869
  16413     20.908890
  16455      7.156851
  16486     13.522860
  16510     66.060959
  16529     45.422699
  16541     44.413200
  16575    142.584460
  Name: mv, dtype: float64),
 1816: (211    1993
  Name: year, dtype: int64,
  211    43.484001
  Name: mv, dtype: float64),
 1235: (218    1993
  Name: year, dtype: int64,
  218    2058.6726
  Name: mv, dtype: float64),
 133: (224      1993
  14359    1996
  14379    1997
  14401    1998
  14429    1999
  14431    2000
  Name: year, dtype: int64,
  224       54.466499
  14359    275.209380
  14379    122.592760
  14401     57.072811
  14429     59.635124
  14431     50.288250
  Name: mv, dtype: float64),
 36: (225      1993
  12765    2000
  12833    2001
  12890    2002
  12917    2003
  13023    2004
  13055    2005
  13145    2006
  13190    2007
  13264    2008
  13321    2009
  Name: year, dtype: int64,
  225       16.903250
  12765    102.391620
  12833     70.635201
  12890     52.987000
  12917    122.242110
  13023    218.706600
  13055    235.271300
  13145    375.311040
  13190    265.842070
  13264     52.828091
  13321     23.181772
  Name: mv, dtype: float64),
 847: (231    1993
  Name: year, dtype: int64,
  231    3922.75
  Name: mv, dtype: float64),
 381: (236      1993
  12614    1994
  13494    2013
  13581    2014
  13610    2015
  13650    2016
  13692    2017
  Name: year, dtype: int64,
  236       186.94501
  12614     197.58400
  13494     873.45667
  13581     889.74243
  13610    1001.55870
  13650    1041.59590
  13692     875.25360
  Name: mv, dtype: float64),
 1121: (243    1993
  750    1994
  Name: year, dtype: int64,
  243    88.410004
  750    54.964001
  Name: mv, dtype: float64),
 107: (247    1993
  Name: year, dtype: int64,
  247    19.674999
  Name: mv, dtype: float64),
 32: (250      1993
  1076     1994
  16973    1995
  16988    1996
  Name: year, dtype: int64,
  250      11.324498
  1076     18.719999
  16973    28.278000
  16988    26.800501
  Name: mv, dtype: float64),
 741: (252      1993
  19924    1994
  19926    1995
  19937    1996
  19947    1997
  19952    1998
  19967    1999
  19977    2000
  19986    2001
  19999    2002
  20018    2003
  20037    2004
  20042    2005
  20061    2006
  20074    2007
  20081    2008
  20097    2009
  Name: year, dtype: int64,
  252        58.335999
  19924      40.105999
  19926      33.725498
  19937      80.008698
  19947     136.230000
  19952     409.288510
  19967     187.466430
  19977      43.197376
  19986     132.800400
  19999     399.477750
  20018     306.959230
  20037     720.126040
  20042     624.852360
  20061     908.246830
  20074    1353.813700
  20081    1377.233500
  20097    1245.429400
  Name: mv, dtype: float64),
 871: (257    1993
  Name: year, dtype: int64,
  257    2811.6033
  Name: mv, dtype: float64),
 1796: (258    1993
  Name: year, dtype: int64,
  258    73.986
  Name: mv, dtype: float64),
 2862: (259    1993
  Name: year, dtype: int64,
  259    21.224001
  Name: mv, dtype: float64),
 1180: (274    1993
  Name: year, dtype: int64,
  274    287.46216
  Name: mv, dtype: float64),
 1739: (291    1993
  797    1994
  Name: year, dtype: int64,
  291    11.381497
  797     3.349999
  Name: mv, dtype: float64),
 1455: (293     1993
  1047    1994
  1219    1995
  4668    1996
  Name: year, dtype: int64,
  293     147.599620
  1047     24.682133
  1219     17.955000
  4668      7.434136
  Name: mv, dtype: float64),
 1005: (301    1993
  Name: year, dtype: int64,
  301    88.278748
  Name: mv, dtype: float64),
 1151: (302    1993
  Name: year, dtype: int64,
  302    301.65799
  Name: mv, dtype: float64),
 153: (305     1993
  1009    1994
  4573    1995
  4657    1996
  4734    1997
  4882    1998
  Name: year, dtype: int64,
  305      71.646751
  1009     70.188126
  4573     91.272499
  4657    139.995000
  4734    128.955630
  4882    104.624370
  Name: mv, dtype: float64),
 1442: (320     1993
  1679    2001
  1795    2002
  1821    2003
  Name: year, dtype: int64,
  320     110.31075
  1679      5.24868
  1795      1.58148
  1821      1.76400
  Name: mv, dtype: float64),
 1490: (326      1993
  1099     1994
  1294     1995
  13753    1996
  Name: year, dtype: int64,
  326      63.486000
  1099     75.389626
  1294     80.692497
  13753    76.657875
  Name: mv, dtype: float64),
 667: (327    1993
  Name: year, dtype: int64,
  327    30.733749
  Name: mv, dtype: float64),
 1457: (337    1993
  Name: year, dtype: int64,
  337    30.16749
  Name: mv, dtype: float64),
 1475: (358    1993
  Name: year, dtype: int64,
  358    14.883906
  Name: mv, dtype: float64),
 904: (367    1993
  888    1994
  Name: year, dtype: int64,
  367    8.52375
  888    5.12925
  Name: mv, dtype: float64),
 1074: (373    1993
  Name: year, dtype: int64,
  373    95.775749
  Name: mv, dtype: float64),
 1257: (374      1993
  1071     1994
  22466    2003
  22481    2004
  22503    2005
  22516    2006
  22528    2007
  Name: year, dtype: int64,
  374      15.068250
  1071     12.972084
  22466    34.772362
  22481    34.235500
  22503    60.595558
  22516    49.162769
  22528    41.248550
  Name: mv, dtype: float64),
 834: (380      1993
  17727    2009
  Name: year, dtype: int64,
  380       5.700000
  17727    57.649151
  Name: mv, dtype: float64),
 777: (381    1993
  Name: year, dtype: int64,
  381    5029.5273
  Name: mv, dtype: float64),
 1880: (397     1993
  5109    1999
  5219    2000
  5466    2001
  5927    2002
  5974    2003
  Name: year, dtype: int64,
  397      44.870251
  5109    107.627620
  5219     56.782688
  5466    140.932480
  5927    110.892800
  5974    233.168000
  Name: mv, dtype: float64),
 1526: (405     1993
  1004    1994
  Name: year, dtype: int64,
  405      55.479988
  1004    124.968740
  Name: mv, dtype: float64),
 3005: (409      1993
  3214     2018
  3699     2019
  15809    1998
  15815    1999
  15821    2000
  15827    2001
  15833    2002
  15839    2003
  15850    2004
  15857    2005
  15863    2006
  15866    2007
  15870    2008
  15872    2009
  15877    2010
  15884    2011
  15888    2012
  15890    2013
  15892    2014
  15898    2015
  15900    2016
  15904    2017
  Name: year, dtype: int64,
  409       53.129250
  3214      62.459702
  3699     150.427200
  15809     13.825000
  15815     32.162811
  15821     42.878250
  15827     22.002300
  15833     66.138496
  15839    177.603360
  15850    162.448750
  15857     43.129711
  15863    109.807850
  15866     79.125420
  15870     51.229679
  15872     69.432083
  15877     73.326599
  15884     30.680250
  15888     51.770321
  15890    127.070680
  15892    142.556820
  15898     81.365463
  15900     52.002625
  15904     56.849442
  Name: mv, dtype: float64),
 1468: (422    1993
  Name: year, dtype: int64,
  422    334.17563
  Name: mv, dtype: float64),
 1410: (436      1993
  3355     2018
  3738     2019
  14005    2006
  14008    2007
  14011    2008
  14013    2009
  14014    2010
  14016    2011
  14019    2012
  14020    2013
  14022    2014
  14025    2015
  14027    2016
  14028    2017
  Name: year, dtype: int64,
  436        495.68811
  3355     16016.32200
  3738     22319.04300
  14005     2471.38450
  14008     3576.66460
  14011     2136.76590
  14013     3111.64530
  14014     3967.06740
  14016     4240.57280
  14019     5058.34230
  14020     5482.20360
  14022     7023.99460
  14025     6562.43550
  14027    10316.71100
  14028    13621.32300
  Name: mv, dtype: float64),
 739: (450      1993
  832      1994
  3433     2019
  15924    1995
  15952    1996
  15999    1997
  16018    1998
  16065    1999
  16118    2000
  16154    2001
  16210    2002
  16237    2003
  16301    2004
  16346    2005
  16397    2006
  16426    2007
  16441    2008
  16482    2009
  16503    2010
  16524    2011
  16546    2012
  16588    2013
  16598    2014
  16630    2015
  16675    2016
  16687    2017
  16724    2018
  Name: year, dtype: int64,
  450         7.398000
  832        14.358750
  3433     3854.627900
  15924      15.224000
  15952      26.491865
  15999      22.913000
  16018      38.211250
  16065      23.592812
  16118      34.533188
  16154     115.069160
  16210     134.073330
  16237     120.551550
  16301     250.343700
  16346     262.737550
  16397     221.437620
  16426     233.359680
  16441     152.741420
  16482     257.649110
  16503     267.832090
  16524     430.615880
  16546     707.878110
  16588    1091.802500
  16598    1389.550300
  16630    2283.227500
  16675    2792.350600
  16687    3096.291700
  16724    3866.563200
  Name: mv, dtype: float64),
 2989: (454    1993
  725    1994
  Name: year, dtype: int64,
  454    54.653500
  725    66.630997
  Name: mv, dtype: float64),
 929: (463      1993
  3181     2018
  3490     2019
  18235    1994
  18242    1995
  18271    1996
  18289    1997
  18315    1998
  18331    1999
  18358    2000
  18384    2001
  18405    2002
  18434    2003
  18469    2004
  18496    2005
  18506    2006
  18542    2007
  18559    2008
  18579    2009
  18597    2010
  18623    2011
  18633    2012
  18655    2013
  18677    2014
  18688    2015
  18721    2016
  18743    2017
  Name: year, dtype: int64,
  463       396.19250
  3181      142.65250
  3490      303.63123
  18235     497.58401
  18242     738.58777
  18271     809.38000
  18289     646.49701
  18315     717.43201
  18331     601.45367
  18358    1040.54920
  18384    1034.93070
  18405    1032.93270
  18434    1254.74000
  18469    1451.96260
  18496     999.77600
  18506     785.03534
  18542     807.35760
  18559     498.75073
  18579     806.18549
  18597     974.95215
  18623     486.54309
  18633     520.01892
  18655     742.97528
  18677     538.28094
  18688     566.28796
  18721     423.22455
  18743     553.30347
  Name: mv, dtype: float64),
 1608: (471      1993
  12644    1996
  12664    1997
  12697    1998
  12755    1999
  12771    2000
  12830    2001
  12906    2002
  12937    2003
  12965    2004
  13058    2005
  13116    2006
  13165    2007
  13252    2008
  13302    2009
  13378    2010
  13404    2011
  Name: year, dtype: int64,
  471      217.681240
  12644     95.696999
  12664     43.344002
  12697     46.827000
  12755    191.754750
  12771    428.902500
  12830    316.270390
  12906    271.836790
  12937    290.469150
  12965    310.827510
  13058    251.781770
  13116    347.558750
  13165    529.752930
  13252    687.708980
  13302    453.254240
  13378    693.934080
  13404    833.299190
  Name: mv, dtype: float64),
 1361: (473    1993
  Name: year, dtype: int64,
  473    12.759973
  Name: mv, dtype: float64),
 152: (487    1993
  Name: year, dtype: int64,
  487    1218.712
  Name: mv, dtype: float64),
 674: (496    1993
  801    1994
  Name: year, dtype: int64,
  496    29.60425
  801    10.09600
  Name: mv, dtype: float64),
 1653: (501     1993
  3327    2018
  4047    2019
  5607    2001
  5900    2002
  6118    2003
  6365    2004
  6532    2005
  6793    2006
  7063    2007
  7482    2008

In [ ]:
for company in by_company_mv:
    mv = by_company_mv[company][1]
    for year in by_company_mv[company][0]:
        mkt growth = mv